body{
    margin: 0;
}

.div_1 {
    width: 100%;
    height: 100px;
    background-color: #93B5C9;   
}
.div_2 {
    width: 100%;
    height: 150px;
    background-color: #AB2849;  
}
.div_3 {
    width: 90%;
    height: 50px;
    margin: 5px;
    float: left;
    margin-left: 0;
    background-color: #AB2849;   
}

.div_4 {
    width: 97%;
    height: 100px;
    background-color: #AB2849;
    margin-top: 242px;
    margin-left: 20px;  
}



